<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <!-- Hide from Google results while there's no content worth showing. -->
    <meta name="robots" content="noindex, nofollow" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "pageTitle" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}
    </title>

    {{ $styles := resources.Get "styles/app.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

    {{ $scripts := resources.Get "scripts/app.js" | js.Build | minify | fingerprint }}
    <script src="{{ $scripts.Permalink }}" defer></script>
  </head>
  <body>
    {{ block "layout" . }}
      <div class="app-layout">
        <header class="app-layout__header">
          <a class="app-layout__header-title" href="/">{{ .Site.Title }}</a>
        </header>

        <aside class="app-layout__sidebar">
          {{ $query := where .Site.RegularPages "Type" "documentation" }}
          {{ if gt (len $query) 0 }}
            <ul>
              {{ range $query }}
                <li>
                  <a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ else }}
            Documentation coming soon.
          {{ end }}
        </aside>

        <main class="app-layout__main">
          {{- block "main" . }}
            <h1>{{ .Title }}</h1>

            <div>
              {{ .Content }}
            </div>
          {{- end }}
        </main>

        <footer class="app-layout__footer">
          <a
            class="app-layout__footer-link"
            href="https://github.com/tylerlwsmith/drupaldev"
          >
            GitHub
          </a>
        </footer>
      </div>
    {{ end }}
  </body>
</html>
