<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <!-- Hide from Google results while there's no content worth showing. -->
    <meta name="robots" content="noindex, nofollow" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ block "pageTitle" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}
    </title>

    {{ $styles := resources.Get "styles/app.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />

    {{ $scripts := resources.Get "scripts/app.js" | js.Build | minify | fingerprint }}
    <script src="{{ $scripts.Permalink }}" defer></script>
  </head>
  <body>
    {{- partial "header.html" . -}}
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
