{{- $sidebarElementId := .sidebarElementId -}}
{{- $context := .context -}}

{{- with $context }}
  <aside
    id="{{ $sidebarElementId }}"
    class="sidebar"
    data-expanded-class-name="sidebar--expanded"
  >
    <button
      id="mobile-menu-close"
      class="sidebar__mobile-menu-close"
      aria-controls="{{ $sidebarElementId }}"
      aria-label="Open menu"
    >
      {{ partial "icons/cross.svg" . }}
    </button>
    <nav>
      {{- $query := where .Site.Sections.ByWeight "Section" "documentation" -}}

      {{- if gt (len $query) 0 }}
        {{- partial "sidebar-menu.html" (dict "pages" (index $query 0).Pages "level" 1) }}
      {{- else }}
        Documentation coming soon.
      {{- end }}
    </nav>
  </aside>
{{ end }}
